
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/jquery-3.1.1.js"></script>
    <title>Add</title>
</head>
<body>
    <div> 
        <form id="formdata">
            <table>
                <tr>
                    <td>角色名称：</td>
                    <td>
                        <input id="Text1" type="text" name="RoleName" />
                    </td>
                </tr>
                <tr>
                    <td>备注：</td>
                    <td>
                        <input id="Text1" type="text" name="RoleUpdate" />
                    </td>
                </tr>
                <tr>
                    <td>网站角色：</td>
                    <td>
                        <input id="Text1" type="text" name="RoleCreate" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="Button1" type="button" value="添加" />
                       

                    </td>
                </tr>
            </table>

        </form>
    </div>
</body>
</html>
